
<select id="test" class="btn btn-primary dropdown-toggle" style="font-size: 16px;">
  <option value="k">Select a test</option>
  <% @path_test.each do |pt|%>
    <option value="<%= pt.test.id%>"><%= pt.test.name%></option>
  <% end %>
</select>
<br><br><br><br>
<select id="available_time" class="btn btn-info dropdown-toggle" style="font-size: 16px;">
  <option value="k">Select from existing time</option>
</select>
<br><br>
<button id="bttn1" class="btn btn-danger">Remove Time</button>
<br><br><br><br>
<select id="new_time" class="btn btn-info dropdown-toggle" style="font-size: 16px;">
  <option value="k">Add new time for the test</option>
</select>
<br><br>
<button id="bttn2" class="btn btn-success">Add Time</button>
<br><br><br><br>
<input type="number" id="seats" min="1" max="100" style="opacity:0">
<button id="bttn3" class="btn btn-warning" style="opacity:0">Change seats</button>
<br><br><br><br>
<input type="number" id="cost" min="1" max="100000" style="opacity:0">
<button id="bttn4" class="btn btn-warning" style="opacity:0">Change cost of the test</button>

<script type="text/javascript">
  $('#test').on('change', function (e) {
    var test_id = $(this).val();
    var res;
    if (test_id != "k") {
      $.ajax({data: { test_id: test_id}
              ,url: "<%= get_fixed_time_path()%>"
              ,type: 'GET',
              beforeSend: function (xhr) {
                xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
              },success: function(result){
                res = result.fixed_time;
                $("#seats").css('opacity', '1')
                $("#seats").val(result.path_test.total_seats)
                $("#bttn3").css('opacity', '1')

                $("#cost").css('opacity', '1')
                $("#cost").val(result.path_test.cost)
                $("#bttn4").css('opacity', '1')

                $('#available_time').empty()
                $('#available_time').append('<option value="k">Select from existing time</option>')
                for (i=0; i<res.length; i++) {
                  $('#available_time').append('<option value='+ res[i].id + '>' + (res[i].time.toString()).slice(11,16) + '</option>')
                }
                lst = result.lst;
                $('#new_time').empty();
                $('#new_time').append('<option value="k">Add new time for the test</option>')
                for (i=0; i<lst.length; i++) {
                  $('#new_time').append('<option value='+ lst[i] + '>' + lst[i]  + '</option>')
                }
            }
      })
    }
  });

  $("#bttn1").on('click', function (e) {
    console.log('wer')
    if ($("#available_time").val() != 'k'){
      window.location.replace("delete_fixed_time?fixed_time_id=" + $("#available_time").val());
    }
  })
  $("#bttn2").on('click', function (e) {
    console.log('qer')
    if ($("#new_time").val() != 'k'){
      window.location.replace("add_fixed_time?time=" + $("#new_time").val() + "&test_id=" + $("#test").val());
    }
  })
  $("#bttn3").on('click', function (e) {
    console.log('qer')
    if ($("#seats").val() != 'k'){
      window.location.replace("add_seats?seats=" + $("#seats").val() + "&test_id=" + $("#test").val());
    }
  })
  $("#bttn4").on('click', function (e) {
    console.log('qer')
    if ($("#cost").val() != 'k'){
      window.location.replace("add_cost?cost=" + $("#cost").val() + "&test_id=" + $("#test").val());
    }
  })


</script>


<style>
    table {
      border-collapse: separate;
      border-spacing: 0;
      color: #4a4a4d;
      font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
    th,
    td {
      padding: 5px 20px;
      vertical-align: middle;
      align: middle;
      border-bottom: 1px solid #cecfd5;
      border-right: 1px solid #cecfd5;
    }
    thead {
      background: #395870;
      background: linear-gradient(#49708f, #293f50);
      color: #fff;
      font-size: 18px;
      text-transform: uppercase;
    }
    th:nth-child(n){
        border-top-left-radius: 5px;
        text-align: center;
    }
    tbody tr:nth-child(even) {
      background: #f0f0f2;
    }
    .appt-id{
      color: #395870;
      display: block;
      text-align: center;
    }
    .appt-text {
      text-align: center;
    }
</style>
