<style>
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

.button:hover {
    background-color: green;
}
</style>

<h2> Patient </h2><br><br>

<div class="panel panel-default">
  <div class="panel-heading">Name</div>
  <div class="panel-body"><%=@patient.name%></div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">Email</div>
  <div class="panel-body"><%=@patient.email%></div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">Address</div>
  <div class="panel-body"><%=@patient.address%></div>
</div>
<br><br>
<% if patient_signed_in? and current_patient.id==@patient.id%>
    <render editbutton>
    <p><a class="button" role="button" href = <%= edit_patient_registration_path(current_patient) %>>Edit </a></p>
<% end %>
