<style>
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url('/Microscope1.jpg');
    background-size:100% 100%;
    background-repeat: no-repeat;
}
</style>

<body>
<div><%= link_to('Login as Patient', new_patient_session_path, method: :get, class:'btn btn-danger', style:"font-size: 20px;") %></div><br>
<div><%= link_to('Login as Pathology Lab', new_pathologylab_session_path, method: :get, class:'btn btn-danger', style:"font-size: 20px;") %></div>
</body>
