<h1>Welcome to Pathago</h1><br><br>
<div><%= link_to('Login as Patient', new_patient_session_path, method: :get, class:'btn btn-info', style:"font-size: 20px;") %></div><br>
<div><%= link_to('Login as Pathology Lab', new_pathologylab_session_path, method: :get, class:'btn btn-danger', style:"font-size: 20px;") %></div>
