<h1>Welcome to Pathago</h1>
<div><%= link_to('Login as Patient', new_patient_session_path, method: :get) %></div>
<div><%= link_to('Login as Pathology Lab', new_pathologylab_session_path, method: :get) %></div>
